:root
{
    --White:         hsl(0, 0%, 100%);
    --LightPink:     hsl(275, 100%, 97%);
    --GrayishPurple: hsl(293, 16%, 49%);
    --DarkPurple:    hsl(292, 42%, 14%);
}
*{box-sizing: border-box; margin: 0; padding: 0;}

body
{
    min-height: 100vh;
    position: relative;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}
.main
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--LightPink);
    width: 100vw;
    overflow: hidden;
    height: 100vh;
}
.main_img
{
    width: 100vw;
    background-image: url(assets/images/background-pattern-desktop.svg);
    height: 20rem;
    position: absolute;
    top: 0;
}
.Faqs_section
{
    width: 90vw;
    max-width: 600px;
    padding: 2rem 2rem 0;
    position: relative;
    top: -1rem;
    border-radius: .5rem;
    background-color: var(--White);
    box-shadow: 0px 1px 106px 6px rgba(140,105,145,0.75);
}
.title_faqs
{
    display: flex;
}
.title_faqs:nth-child(1),
.title_faqs:nth-child(2),
.title_faqs:nth-child(3)
{
    margin-bottom: 1.5rem;
}
.title_faqs h1
{
    font-size: 4rem;
}
.title_faqs img
{
    width: 3rem;
    margin-right: 1.5rem;
}
.container_faqs .faqz
{
    position: relative;
    margin-bottom: 2rem;
}
.container_faqs .faqz .label
{
    padding-right: 2em;
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    list-style: none;
}
.container_faqs .faqz .label:nth-child(1),
.container_faqs .faqz .label:nth-child(2),
.container_faqs .faqz .label:nth-child(3)
{
    margin-bottom: 1.5rem;
}
details .label:before
{
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 50%;
    padding: .2rem;
    color: var(--White);
    background-color: var(--GrayishPurple);
    width:  1rem;
    height: 1rem;
    margin-left: 1rem;
    text-align: center;
    font-size: .8em;
    line-height: 100%;
}
.container_faqs .faqz .content
{
    transition: .5s;
    color: var(--GrayishPurple);
    line-height: 1.5;
    margin-bottom: 3.5rem;
}
details[open] .label::before
{
    content: "-";
    background-color: var(--DarkPurple);
}
@media screen and (max-width: 600px)
{
    .main_img
    {
        background-image: url(assets/images/background-pattern-mobile.svg);
        height: 15rem;
    }
    .Faqs_section
    {
        margin-top: 6rem;
        padding: 1.4rem;
    }
    .title_faqs img
    {
        width: 1.6rem;
    }
    .title_faqs h1
    {
        font-size: 2rem;
    }
}