*{box-sizing: border-box; margin: 0; padding: 0;}
:root
{
    --White: hsl(0, 0%, 100%);
    --LightPink: hsl(275, 100%, 97%);
    --GrayishPurple: hsl(292, 16%, 49%);
    --DarkPurple: hsl(292, 42%, 14%);
}
body
{
    min-height: 100vh;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}
.main
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--LightPink);
    width: 100vw;
    overflow: hidden;
}
.main_img
{
    width: 100vw;
    object-fit: cover;
}
.main_img img
{
    width: 100%;
    height: 100%;
}
.Faqs_section
{
    width: 90vw;
    padding: 1.4rem;
    position: relative;
    top: -5rem;
    border-radius: .5rem;
    background-color: var(--White);
    box-shadow: 0 .1rem .8rem var(--GrayishPurple);
}
.title_faqs
{
    display: flex;
    margin-bottom: 1.5rem;
}
.title_faqs img
{
    width: 1.6rem;
    margin-right: 1.5rem;
}
.container_faqs .faqz
{
    position: relative;
}
.container_faqs .faqz .label
{
    padding-right: 2em;
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.container_faqs .faqz .label::before
{
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 50%;
    padding: .2rem;
    color: var(--White);
    background-color: var(--GrayishPurple);
    width:  1rem;
    height: 1rem;
    margin-left: 1rem;
    text-align: center;
    font-size: .8em;
    line-height: 100%;
}
.container_faqs .faqz.active .label::before
{
    content: "-";
}
.container_faqs .faqz .content
{
    position: relative;
    overflow: hidden;
    transition: .5s;
    height: 0;
    overflow: auto;
    color: var(--GrayishPurple);
}
.container_faqs .faqz.active .content
{
    height: auto;
    padding: .5rem 0 2.5rem 0;
}
/*Usar tamaño de fuente de 400 600 y 700