*
{
    margin: 0;
    box-sizing: border-box;
}
body
{
    background: black;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    width: 200px;
    height: 50px;
    transition: .5s;
}
h1:hover
{
    color: rgba(83, 111, 236, 0.979);
    cursor: pointer;
    text-shadow: 1px 1px 0px white;
}
