*{box-sizing: border-box; margin: 0; padding: 0;}
html{font-size: 62.5%;}

:root
{
    --Violet:      #674baf;
    --SoftMagenta: hsl(300, 69%, 71%);
}
body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Violet);
}
.main_container
{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.img_container
{
    position: absolute;
    padding-right: 8%;
}
.logo_huddle
{
    width: 16%;
    top: -5%;
    left: -1%;
}
.mockups
{
    width: 50%;
    left: 4%;
    top: 23%;
}
.text_container
{
    position: absolute;
    width: 43%;
    right: 0;
    height: 100vh;
    text-align: start;
}
.text_container h1
{
    padding: 33% 10% 0 0;
    font-size: 4.2rem;
}
.text_container p
{
    padding: 0 10% 0 0;
    font-size: 1.8rem;
    margin: 4% 0;
    line-height: 1.5;
}
.text_container .btn
{
    width: 35%;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    cursor: pointer;
}
.icons
{
    position: relative;
    top: 15%;
    left: 25%;
}
.icons img
{
    width: 6%;
    cursor: pointer;
}