*{box-sizing: border-box; margin: 0; padding: 0;}
html{font-size: 62.5%;}

:root
{
    --Violet:      #674baf;
    --SoftMagenta: hsl(300, 69%, 71%);
}
body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container
{
    width: 100vw;
    height: 115%;
    text-align: center;
    color: #fff;
    background-color: var(--Violet);
}
.img_container
{
    position: relative;
    width: 100%;
}
.logo_huddle {
    position: absolute;
    width: 34%;
    margin-top: 8%;
    margin-left: 10%;
}
.mockups
{
    position: absolute;
    width: 80vw;
    top: 33%;
    left: 10%;
}
img
{
    width: 100%;
}
.text_container h1
{
    padding: 0 13% ;
    margin-top: 2.2rem;
    line-height: 1.5;
    font-size: 2.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.text_container p
{
    font-size: 1.5rem;
    padding: 0 8%;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    margin: 2rem 0;
    font-weight: 400;
}
.text_container .btn
{
    padding: 1.4rem 0;
    width: 50%;
    border-radius: 3rem;
    border: none;
    color: var(--Violet);
    box-shadow: 0 2px 10px #221347;
}
.icons
{
    display: flex;
    justify-content: center;
}
.icons img
{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 8%;
    padding: 0.8rem;
    margin: 6rem 0.5rem;
}
.icons img:nth-child(3)
{
    padding: 0.4rem;
}