*{box-sizing: border-box; margin: 0; padding: 0;}
html{font-size: 62.5%;}

:root
{
    --Violet:      #674baf;
    --SoftMagenta: hsl(300, 69%, 71%);
}
body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container
{
    background-color: var(--Violet);
    text-align: center;
    height: 115vh;
    width: 100vw;
    color: #fff;
}
@media screen and (min-height: 1150px)
{
    .main_container
    {
        height: 100vh;
    }
}
.img_container
{
    position: relative;
    width: 100%;
}
.logo_huddle {
    position: absolute;
    width: 30%;
    margin-top: 6%;
    margin-left: 5%;
}
.mockups
{
    position: absolute;
    width: 60%;
    top: 30%;
    left: 20%;
}
.text_container
{
    position: relative;
}
.text_container h1
{
    font-size: 3.5rem;
    padding: 5%  15% 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.text_container p
{
    font-size: 2rem;
    padding: 0 8%;
    line-height: 2;
    font-family: "Poppins", sans-serif;
    margin: 5% 0;
    font-weight: 400;
}
.text_container .btn
{
    padding: 1.4rem 0;
    width: 40%;
    border-radius: 3rem;
    border: none;
    color: var(--Violet);
    box-shadow: 0 2px 10px #221347;
}
.icons img
{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 5%;
    padding: 0.8rem;
    margin: 10% 0.5rem 0;
}
.icons img:nth-child(3)
{
    padding: 0.4rem;
}