*{box-sizing: border-box; margin:  0; padding: 0}

:root
{
    --AlmostWhite:  hsl(0, 0%, 98%);
    --MediumGray:   hsl(0, 0%, 41%);
    --AlmostBlack:  hsl(0, 0%, 8%);
    --fonMedium : 500;
    --fonBold:    700;
}

body
{
    min-height: 100vh;
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
}
.main .main_header nav
{
    display: flex;
    padding: 2rem 2.5rem;
    justify-content: space-between;
}
.main .main_header nav .check__menu
{
    display: none;
}
#bodiBak
{
    background-color: rgba(55, 55, 55, .65);
    width: 100vw;
    height: 105vh;
    display: none;
    position: absolute;
    z-index: 100;
}
.navDesktop
{
    display: flex;;
    width: 100%;
    justify-content: space-between;
}
.navDesktop .ul,
.navDesktop .navDesktop__buttons
{
    display: flex;
    font-size: 1rem;
    font-weight: 500;
}
.navDesktop .ul
{
    list-style: none;
    margin-left: 4rem;
}
.navDesktop .navDesktop__buttons button
{
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--MediumGray);
    background-color: transparent;
    cursor: pointer;
    transition: .2s;
}
.navDesktop .navDesktop__buttons button:hover
{
    color:var(--AlmostBlack);
}
.navDesktop .navDesktop__buttons button:nth-child(1)
{
    margin-right: 10rem;
}
.navDesktop__buttons
{
    position: relative;
}
.navDesktop .navDesktop__buttons .register
{
    border: 1px solid var(--MediumGray);
    border-radius: 1rem;
    position: absolute;
    top: -10px;
    right: 0;
    padding: 0.8rem 1.5rem .6rem;
    transition: .2s;
}
.navDesktop .navDesktop__buttons .register:hover
{
    border: 1px solid transparent;
}
.navDesktop .navDesktop__buttons .register:active
{
    color: var(--AlmostBlack);
}
.navDesktop .ul a
{
    text-decoration: none;
}
.navDesktop .ul p img
{
    margin-left: 5px;
}
.navDesktop .ul p
{
    margin-right: 2.5rem;
    cursor: pointer;
}
.navDesktop .ul p:hover,
.slash1 a:hover,
.slash2 a:hover
{
    font-weight: 500;
    color: var(--AlmostBlack);
}
.navDesktop .ul a,
.navDesktop .ul p
{
    color: var(--MediumGray);
    font-size: 1rem;
    transition: .5s;
}
.navDesktop .ul label input[type="checkbox"]
{
    position: absolute;
    opacity: 0;
}
.navDesktop .ul label input[type="checkbox"]:checked + .slash1,
.navDesktop .ul label input[type="checkbox"]:checked + .slash2
{
    display: block;
    color: var(--MediumGray);
    position: absolute;
}
.slash1 a img
{
    margin-right: .8rem;
}
.slash1,
.slash2
{
    padding: 1rem 1.3rem;
    line-height: 2;
    border-radius: .5rem;
    background: hsl(0, 0%, 98%);
    top: 8%;
    box-shadow: 0px 0px 150px -45px rgba(105,105,105,1);
    z-index: 10;
    display: none;
    transition: .5s;
}
.slash1
{
    left: 7.8%;
}
.slash2
{
    left: 22%;
    z-index: 5;
    box-shadow: 20px 0px 140px -30px rgba(105,105,105,1);
}



#bodiBak .navMovil
{
    background-color: white;
    height: 100%;
    margin-left: 36%;
}
.navMovil
{
    padding: 5.2rem 1.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--MediumGray);
}

.navMovil details,
.navMovil > p,
.navMovil details p
{
    margin-bottom: 1.5rem;
}
.navMovil details summary
{
    list-style: none;
}
.navMovil details ul 
{
    list-style-type: none;
    padding: 1.3rem 1.6rem 0;
    line-height: 2.5;
}
.navMovil details ul img
{
    margin-right: 1rem;
    width: 1.3rem;
    height: 1.3rem;
}
.navMovil details ul li
{
    display: flex;
    align-items: center;
}

.navMovil details summary::after
{
    content: url("images/icon-arrow-down.svg");
    margin-left: 1rem;
}
.navMovil details[open] summary::after
{
    content: url("images/icon-arrow-up.svg");
}
.navMovil details[open]
{
    margin-bottom: 1rem;
}
.navMovil button
{
    width: 100%;
    border: none;
    outline: none;
    padding: .8rem 0;
    background-color: white;
}
.navMovil .register
{
    border-radius: 1rem;
    border: 1px solid var(--AlmostBlack);
}
.desktopFlex 
{
    display: flex;
    flex-direction: row-reverse;
    margin: 3.5rem auto;
    justify-content: space-between;
    padding-left: 2rem;
    position: relative;
    width: 83vw;
}
.backgroundSnap
{
    width: 40%;
}
.backgroundSnap img,
.backgroundSnap source
{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.main_text .h1D
{
    font-size: 5.2rem;
    padding-top: 5.5rem;
}
.main_text .h1M,
.main_text .pm
{
    display: none;
}
.main_text .pd
{
    color: var(--MediumGray);
    line-height: 1.5;
    font-size: 1.2rem;
    padding: 2.2rem 0;
}
.main_text button
{
    padding: .8rem 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: var(--fonBold);
    font-size: 1rem;
    color: var(--AlmostWhite);
    background-color: var(--AlmostBlack);
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    transition: .3s;
}
.main_text button:hover
{
    background-color: var(--AlmostWhite);
    color: var(--AlmostBlack);
    outline: 1px solid var(--AlmostBlack);
}
.containerMark
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
    width: 97%;
}
.containerMark img
{
    width: 18%;
}
@media (max-width: 350px) 
{
    #bodiBak
    {
        height: 133vh;
    }
    .navMovil
    {
        font-size: .9rem;
        display: block;
    }
}
@media (max-width: 840px) 
{
    .main .main_header nav .check__menu
    {
        z-index: 150;
        display: block;
    }
    .main .main_header nav .check__menu input
    {
        display: none;
    }
    .navDesktop
    {
        display: none;
    }
    .main .main_header nav
    {
        padding: 1.5rem 1.2rem;
    }
    .desktopFlex 
    {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .backgroundSnap
    {
        width: 100%;
    }
    .main_text
    {
        text-align: center;
    }
    .main_text .h1M
    {
        font-size: 2.2rem;
        display: block;
        margin-top: 2.5rem;
        margin-bottom: .8rem;
    }
    .main_text .h1D,
    .main_text .pd
    {
        display: none;
    }
    .main_text .pm
    {
        display: block;
        padding: 0 1rem;
        color: var(--MediumGray);
        line-height: 1.5;
        font-size: 1rem;
    }
    .containerMark
    {
        width: 100%;
    }
}