*{box-sizing: border-box; margin:  0; padding: 0}

:root
{
    --AlmostWhite:  hsl(0, 0%, 98%);
    --MediumGray:   hsl(0, 0%, 41%);
    --AlmostBlack:  hsl(0, 0%, 8%);
    --fonMedium : 500;
    --fonBold:    700;
}

body
{
    min-height: 100vh;
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
}
.main .main_header nav
{
    display: flex;
    padding: 1.5rem 1.2rem;
    justify-content: space-between;
}
.main .main_header nav div
{
    z-index: 150;
}
.main .main_header nav div input
{
    display: none;
}
#bodiBak
{
    background-color: rgba(55, 55, 55, .65);
    width: 100vw;
    height: 105vh;
    display: none;
    position: absolute;
    z-index: 100;
}
#bodiBak .navMovil
{
    background-color: white;
    height: 100%;
    margin-left: 36%;
}
.navMovil
{
    padding: 5.2rem 1.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--MediumGray);
}

.navMovil details,
.navMovil > p,
.navMovil details p
{
    margin-bottom: 1.5rem;
}
.navMovil details summary
{
    list-style: none;
}
.navMovil details ul 
{
    list-style-type: none;
    padding: 1.3rem 1.6rem 0;
    line-height: 2.5;
}
.navMovil details ul img
{
    margin-right: 1rem;
    width: 1.3rem;
    height: 1.3rem;
}
.navMovil details ul li
{
    display: flex;
    align-items: center;
}

.navMovil details summary::after
{
    content: url("images/icon-arrow-down.svg");
    margin-left: 1rem;
}
.navMovil details[open] summary::after
{
    content: url("images/icon-arrow-up.svg");
}
.navMovil details[open]
{
    margin-bottom: 1rem;
}
.navMovil button
{
    width: 100%;
    border: none;
    outline: none;
    padding: .8rem 0;
    background-color: white;
}
.navMovil .register
{
    border-radius: 1rem;
    border: 1px solid var(--AlmostBlack);
}
.backgroundSnap
{
    width: 100%;
}
.backgroundSnap img,
.backgroundSnap source
{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.main_text
{
    text-align: center;
}
.main_text h1
{
    font-size: 2.2rem;
    margin-top: 2.5rem;
    margin-bottom: .8rem;
}
.main_text p
{
    color: var(--MediumGray);
    line-height: 1.5;
    padding:  .6rem;
    font-size: 1rem;
}
.main_text button
{
    padding: .8rem 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: var(--fonBold);
    font-size: 1rem;
    color: var(--AlmostWhite);
    background-color: var(--AlmostBlack);
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
}
.main_text button:active
{
    background-color: var(--AlmostWhite);
    color: var(--AlmostBlack);
    transition: .3s;
    outline: 1px solid var(--AlmostBlack);
}
.containerMark
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.containerMark img
{
    width: 18%;
}
















@media (max-width: 350px) 
{
    #bodiBak
    {
        height: 133vh;
    }
    .navMovil
    {
        font-size: .9rem;
    }
}