*
{box-sizing: border-box; margin: 0; padding: 0;}
:root
{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%)
}
body
{
    background-color: var(--Yellow);
    min-height: 100vh;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__Container
{
    max-width: 20rem;
    border: 1px solid var(--Black);
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid var(--Black);
    overflow: hidden;
    box-shadow: 6px 6px 0px rgb(0, 0, 0);
}
.main__Container img
{
    width: 100%;
    object-fit: cover;
    height: 40%;
    border-radius: 10px;
} 
.main__Container .learning
{
    margin-top: 20px;
    background-color: var(--Yellow);
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: .8em;
    display: inline-block;
}
.main__Container .date
{
    font-size: .9em;
    font-weight: bold;
}
.title a
{
    text-decoration: none;
    color: var(--Black);
    font-size: .6em;
    font-weight: bold;
}
.title a:active
{
    color: var(--Yellow);
}
.paragraph
{
    margin-top: 10px;
    font-sIze: .8em;
    line-height: 1.6;
    color: #8b8b8b;
}
.info
{
    display: flex;
    padding-top: 1rem;
}
.info img
{
    margin-right: 1rem;
    height: 2.5Rem;
    width:  2.5Rem;
}
.info .name_perfil
{
    line-height: 2.5;
    font-weight: bold;
    font-size: .9rem;
}

/*NOTA: no olvidar dar font-weidh segun sea el caso de 600 y 800*/